 <!-- Barra Navegadora -->
 <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
  <div class="container padding_786">
         <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="../../assets/images/images/Logobuenasnuevas 150px.png" alt="img"
                    class="mobile_logo_width" /></a>
            <nav>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="single.html">Editorial <span
                                    class="sr-only">(current)</span></a>
                        </li>

                       
                        <li class="nav-item ">
                            <a class="nav-link" href="ContactosEscuela.html">Contacto <span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="integrantes.html">Sobre Nosotros <span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
    <div>
</div>
