form {padding: 20px; background-color: #f5bc04; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 12pt;}

label {margin: 10px 0px; clear: both; display: block;}

input {padding: 4px; border: solid 1px #262626;}

::placeholder, option, value {color: #f5bc04; font-weight: bold;}

*:focus {border-color: #413511; }

input[type="submit"] {padding: 10px 20px; text-transform: uppercase; cursor: pointer; background-color: #31a3dd; border: solid 1px #ededed;}

input[type="submit"]:hover {background-color: #82C8EA;}
body{padding: 100px; background-color: #f5bc04; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 12pt;}
