<footer>
  <div class="container-fluid fh5co_footer_bg pb-3">
      <div class="container animate-box">
          <div class="row">
              <div class="col-12 spdp_right py-5"><img src="../../assets/images/logoperiodicoblanco.png" alt="img"
                      class="footer_logo" /></div>
              <div class="clearfix"></div>
              <div class="col-12 col-md-4 col-lg-3">
                  <div class="footer_main_title py-3"> El porqué de este periódico </div>
                  <div class="footer_sub_about pb-3">
                      <h6>El periódico escolar dinamiza el proceso educativo.</h6>
                      <p>Pone en práctica actividades que catalizan lúdicamente la enseñanza, despierta el interés
                          por
                          aprender, al estimular la lectura y la escritura.
                      </p>
                  </div>
              </div>
              <div class="col-12 col-md-3 col-lg-2">
                  <div class="footer_main_title py-3"> Temas</div>
                  <ul class="footer_menu">
                      <li><a href="single.html" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;
                              Editoriales</a>
                      </li>
                      <li><a href="trabajoinformal.html" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp;
                              Textos
                              Escolares y
                              Periodísticos</a></li>
                      <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Relatos de
                              Cuarentena</a>
                      </li>
                      <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Reseñas de
                              Cuarentena</a>
                      </li>
                      <li><a href="#" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Historias de
                              Cuarentena</a></li>


                  </ul>
              </div>
              <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                  <div class="footer_main_title py-3"> Mas Vistas</div>
                  <div class="footer_makes_sub_font"> octubre 2020</div>
                  <a href="single.html" class="footer_post pb-4"> Editorial</a>
                  <div class="footer_makes_sub_font"> Octubre 2020</div>
                  <a href="trabajoinformal.html" class="footer_post pb-4"> EL TRABAJO FORMAL E INFORMAL</a>
                  <div class="footer_makes_sub_font"> Octubre 2020</div>
                  <a href="sembrandoencasa.html" class="footer_post pb-4"> SEMBRANDO EN CASA</a>
                  <div class="footer_position_absolute"><img src="../../assets/images/footer_sub_tipik.png" alt="img"
                          class="width_footer_sub_img" /></div>
              </div>

              <div class="footer_main_title py-3"> Proyecto "Buenas Nuevas" <p>Periódico Escolar - ISPC</p>
              </div>

              <a href="http://practicasprofesionalizantes.atwebpages.com/ " target="_blank"
                  class="footer_img_post_6"><img src="../../assets/images/miniaturagrupo.png" alt="img" /></a>


          </div>
         
              <p>
                  Este proyecto de periódico escolar es realizado por estudiantes y docentes del IPET 416, desde
                  el
                  año
                  2010 en formato papel.
                  Debido al contexto sanitario actual y a la articulación con estudiantes de la carrera
                  "Desarrollo
                  web y Aplicaciones Moviles" del ISPC, se presenta esta reversión del proyecto en su versión
                  online.
              </p>
          
      </div>
  </div>
</footer>

